# By default, ignore all files
*
# Share this file
!.gitignore

# Share Markdown files
!*.md

# Explicitly allow YAML files
!*.yaml

# Travis Configuration
!.travis
!.travis/travis.*
!.travis.yml

# Allow the following subfolders
!appdaemon
!automations
!custom_components
!docs
!images
!packages
!scenes
!scripts
!themes
!www

# Ignore Sensitive Files
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
customize.yaml
